*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-dark: #303030;
    --main-clr: #FF0000;
    --clr-ligth: #fff;
    --font-main: 'Open Sans', Arial, sans-serif;
    --font-size-base: 1em;
    --font-size-med: 2em;
    --font-size-large: 4em;
    --line-height-base: 1.6;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: var(--line-height-base);
    color: var(--clr-dark);
    background: var(--main-clr);
}

.about-text h2, .contact-form h2, .contact-info h2 {
    font-size: var(--font-size-large);
    margin-bottom: 20px;
}

.about-image, .about-text, .contact-form, .contact-info {
    max-width: 800px;
    margin-bottom: 20px;
}

/* Header section */
header {
    padding: 0px 10px;
    background-color: var(--main-clr);
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img{
    max-width: 120px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 5em;
}

.nav-links a {
    color: var(--clr-dark);
    text-decoration: none;
    font-size:  var(--font-size-base);
    padding: 10px;
    transition: color 0.3s;
}

.mobile-nav {
    display: none;
}

.nav-links a:hover {
    color: var(--main-clr);
    background: var(--clr-dark);
    border-radius: 5px;
    padding: 5px 10px;
}

hr {
    border: 3px solid var(--clr-dark);
    margin: 0;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle svg {
    width: 30px;
    height: 30px;
}

/* Introduction section */
.intro {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--main-clr);
    align-items: center;
    text-align: center;
    padding: 60px 40px;
}

.intro-text {
    flex: 1;
    margin-right: 20px;
    align-items: center;
}

.intro-text h1 {
    font-size: var(--font-size-large);
    margin-bottom: 20px;
}

.intro-text p {
    font-size: var(--font-size-med);
    margin-bottom: 20px;
}

.intro-image{
    flex: 1;
}

.intro-image img {
    max-width: 25em;
    border-radius: 35%;
}

.tech-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tech-logos p {
    margin-right: 10px;
    align-self: center;
}

.tech-logos i {
    font-size: var(--font-size-med);
}


/* About Me */
.about {
    padding: 60px 20px;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-image {
    max-width: 100%;
    border-radius: 10px;
}

.education {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.school {
    background:var(--main-clr);
    padding: 10px;
    border-radius: 10px;
    border: 5px solid var(--clr-dark)
}

.download-resume {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--clr-dark);
    color: var(--main-clr);
    text-decoration: none;
    border-radius: 10px;
    font-size: var(--font-size-base);
    text-align: center;
}

.download-resume:hover {
    color: var(--clr-ligth);
}


/* project section */
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px 20px;
    justify-content: center;
}

.project-card {
    background: var(--main-clr);
    padding: 30px;
    border-radius: 50px;
    border: 5px solid var(--clr-dark);
    flex: 1 1 calc(50% - 40px);
    box-sizing: border-box;
    max-width: calc(50% - 40px);
}

.project-card a {
    display: block;
    margin: 5px 0;
    color: var(--clr-dark);
    text-decoration: none;
}

.project-card img {
    max-width:  100%;
    border-radius: 50px;
}

.project-card h3 {
    font-size: var(--font-size-med);
    margin: 10px 0;
}

.project-card p {
    font-size: var(--font-size-base);
    margin-bottom: 20px;
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.project-links a {
    display: inline-block;
    margin: 5px 0;
    padding: 10px 15px;
    background-color: var(--clr-dark);
    color: var(--main-clr);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-links a:hover {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

/* contacts section */
.contact {
    padding: 60px 20px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    position: relative;
}

.contact-container::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--clr-dark);
    transform: translateX(-50%);
}

.contact-form, .contact-info {
    flex: 1;
    padding: 0 20px; /* Add padding to provide some space around the content */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the h2 elements */
    text-align: center;
}

.contact-form h2, .contact-info h2 {
    text-align: center;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    max-width: 400px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
    width: 100%;
}

.contact-form button {
    padding: 10px;
    margin-top: 10px;
    background: var(--clr-dark);
    color: var(--main-clr);
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
}

.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-icons a {
    font-size: var(--font-size-large);
    color: var(--clr-dark);
}

.social-icons a:hover {
    font-size: 4.25em;
    color: var(--clr-ligth);
}

footer {
    background-color: var(--clr-dark);
    color: var(--main-clr);
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto;

}

footer p {
    margin: 0;
}


@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        /* flex-direction: column;
        background-color: var(--clr-dark);
        max-height: 0; */
    }

    .mobile-nav {
        display: none;
        position: absolute; 
        top: 100%; 
        left: 0;
        width: 100%;
        background-color: var(--clr-dark);
        display: none;
        z-index: 999;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        overflow: hidden;
    }

    .mobile-nav.active {
        display: block;
        animation: slideDown 0.3s ease-in-out forwards;
    }

    .nav-links-mobile {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links-mobile a {
        display: block;
        padding: 15px;
        color: var(--main-clr);
        text-decoration: none;
    }
    
    .nav-links-mobile a:hover {
        border-radius: 50px;
        background-color: var(--main-clr);
        color: var(--clr-dark);
    }

    /* Slide down animation */
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

    .nav-links a {
        padding: 10px;
    }

    .intro {
        flex-direction: column-reverse;
        text-align: center; 
    }

    .intro-text {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .intro-image img {
        max-width: 80%;
        margin: 0 auto;
    }

    .about, .contact {
        padding: 40px 20px;
    }

    .about-image {
        display: none;
    }

    .about-container, .contact-container {
        flex-direction: column;
    }

    .contact-container::before {
        display: none;
    }

    .contact-form, .contact-info {
        width: 100%;
        max-width: none;
        align-items: center;
    }

    .intro-text, .about-image, .about-text, .contact-form, .contact-info {
        max-width: 100%;
    }

    .education {
        flex-direction: column;
    }

    .project-card {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .contact-info .social-icons i {
        font-size: 0.5em;
        margin: 0 10px;
    }
}

